
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

/* colors */

:root {
  --dark-magenta:         hsl(300, 43%, 22%);
  --soft-pink:            hsl(333, 80%, 67%);
  --dark-grayish-magenta: hsl(303, 10%, 53%);
  --light-grayish-magenta:hsl(300, 24%, 96%);
  --white:                hsl(0, 0%, 100%);
}


*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  font-family: 'Spartan';
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  width: 500px;
  max-width: 87%;
  margin: 80px auto;
}

main::after {
  clear: both;
  content: "";
  display: block;
}

header {
  text-align: center;
}

h1 {
  color: var(--dark-magenta);
  font-size: 3.1rem;
  font-weight: 700;
  width: 80%;
  line-height: 1.1;
  margin: auto;
}

.main-info p {
  margin: 20px 0 30px 0;
  line-height: 1.6;
  color: var(--dark-grayish-magenta);
}

.reviews li {
  background-color: var(--light-grayish-magenta);
  padding: 1.6rem;
  margin-top: 1.6rem;
  border-radius: 6px;
}

.reviews p {
  color: var(--dark-magenta);
  font-weight: 700;
  font-size: 1.3rem;
  margin-top: 1.5rem;
}

.rating {
  display: block;
  margin: 0 auto;
  height: 15px;
}

/* Star Rating classes to add with JS accordingly */

.five-stars {
  width: 130px;
  background-image: url(../images/icon-star2.svg);
}

.four-stars {
  width: 104px;
  background-image: url(../images/icon-star2.svg);
}

.three-stars {
  width: 78px;
  background-image: url(../images/icon-star2.svg);
}

.two-stars {
  width: 52px;
  background-image: url(../images/icon-star2.svg);
}

.one-star {
  width: 26px;
  background-image: url(../images/icon-star2.svg);
}

.testimonials {
  margin-top: 4rem;
}

.testimonials li {
  background-color: var(--dark-magenta);
  border-radius: 6px;
  margin-bottom: 1.6rem;
  padding: 4rem 3.2rem;
}

.testimonials li .buyer-info {
  display: flex;
  align-items: center;
}

.testimonials li img {
  width: 4rem;
  border-radius: 50px;
  margin-right: 2rem;
}

.testimonials li h3 {
  color: var(--white);
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: .4rem;
}

.testimonials li span {
  font-size: 1.3rem;
  color: var(--soft-pink);
}

.testimonials li blockquote {
  margin-top: 3.5rem;
  color: var(--white);
  font-size: 1.3rem;
  line-height: 1.7;
}

@media only screen and (min-width: 700px) {

  body {
    background: url(../images/bg-pattern-top-desktop.svg) no-repeat top left,
              url(../images/bg-pattern-bottom-desktop.svg) no-repeat bottom right;
  }

  main {
    width: 80%;
  }

  .headline {
    display: flex;
    flex-direction: column;
  }

  .main-info {
    width: 80%;
    text-align: center;
    margin: auto;
  }

  .reviews ul {
    display: flex;
    gap: 1.2rem;
  }

  .reviews ul li {
    flex-basis: 0;
    flex-grow: 1;
    
  }

  .testimonials {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 900px) {

  .testimonials {
    width: 100%;
  }

  .testimonials ul {
    display: flex;
    gap: 1.2rem;
  }
}

@media only screen and (min-width: 1200px) {

  body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  main {
    max-width: 1110px;
    margin: 0;
  }

  .headline {
    flex-direction: row;
  }

  .headline > * {
    flex-basis: 100%;
  }

  .main-info {
    text-align: left;
  }

  .main-info h1 {
    letter-spacing: -3px;
    font-size: 5rem;
    line-height: 1;
    margin: 0;
  }

  .main-info p {
    padding-right: 9rem;
    margin-top: 1.4rem;
  }

  .reviews ul {
    flex-direction: column;
    align-items: flex-end;
    gap: 1.6rem;
    margin-top: 1rem;
  }

  .reviews li  {
    display: inline-block;
    padding: 2rem;
    width: 445px;
    margin: 0;
  }

  .reviews ul li:first-child {
    margin-right: 9rem;
  }

  .reviews ul li:nth-child(2) {
    margin-right: 4.5rem;
  }

  .reviews li p, .reviews li span {
    margin: 0;
    float: left;
  }

  .reviews li p {
    margin-top: 3px;
    margin-left: 3.2rem;
  }

  .testimonials ul {
    gap: 3rem;
  }

  .testimonials li {
    padding-right: 3rem;
    flex: 1 1 100%;
    height: 233px;
    /* min-height: 233px; */
  }

  .testimonials li:nth-child(2) {
    margin-top: 1.6rem;
  }

  .testimonials li:nth-child(3) {
    margin-top: 3.2rem;
  }

  .testimonials li blockquote {
    margin-top: 3rem;
  }

}







